{% extends layout.html.twig %}

{% block content %}

<h3>Enregistrement sur le blog SoMusicShare !</h3>

Bonjour {{ name }}! Vous êtes a présent inscrit sur le site SOMusicShare.

{# example, assuming you have a route named "login" #}
Pour vous connecter, veuillez cliquer sur ce lien : <a href="{{ absolute_url('security_login') }}">...</a>.

Merci de rejoindre notre communauté, au plaisir d'échanger avec vous !

PS: Noubliez pas de vous présenter en arrivant ;-)

Merci !
Plaire cédric - Créateur de SoMusicShare.

{% endblock %}