{% extends 'emails/layout.html.twig' %}

{% block content %}

<h3>Enregistrement sur le blog SoMusicShare !</h3>

<div>Bonjour {{ name }}! Vous êtes a présent inscrit sur le site SOMusicShare.</div>

<p>Pour vous connecter, veuillez cliquer sur ce lien : <a href="{{ absolute_url('security_login') }}">...</a>.</p>

<p>Merci de rejoindre notre communauté, au plaisir d'échanger avec vous !</p>

<p>PS: Noubliez pas de vous présenter en arrivant ;-)</p>

<p>Merci !
Plaire cédric - Créateur de SoMusicShare.</p>

{% endblock %}