<div class="section rss">
    <a class="badge badge-warning btn-block" href="{{ path('blog_rss', app.request.query.all) }}">
        <i class="fa fa-rss" aria-hidden="true"></i> {{ 'menu.rss'|trans }}
    </a>
</div>
