<html>
<body>
<div>
    <img src="{{ email.image('$images/brand.png') }}">
    <p>Email envoyé par SoMusicShare, le Blog musical du sud-ouest</p>
</div>
<div>
{% block content %}{% endblock %}
</div>
</body>
</html>