{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
<html>
<body>
<div>
    <img src="{{ email.image('@images/brand.png') }}" alt="Logo">
    <p>Email envoyé par SoMusicShare, le Blog musical du sud-ouest</p>
</div>
<div>
{% block content %}{% endblock %}
</div>
</body>
</html>
{% endapply %}