{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div id="main" class="col-lg-9 col-md-9 col-sm-8 pl-4">
			{% block main %}{% endblock %}
		</div>
		<div id="sidebar" class="col-lg-3 col-md-3 col-sl-4">
			{% block sidebar %}
				{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
					'template': 'blog/about.html.twig',
					'sharedAge': 600,
					'_locale': app.request.locale
				})) }}
				{{ include('blog/_rss.html.twig') }}

			{% endblock %}
		</div>
	</div>
{% endblock %}
