{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary">
        <i class="fa fa-save"></i>{{ button_label|default('Save')|trans }}
    </button>
{{ form_end(form) }}
