{% extends 'default/layout.html.twig' %}

{% block title %}New UserMessage{% endblock %}

{% block body_id 'user_message_new' %}

{% block main %}
    <h1>Create new UserMessage</h1>

    {{ include('user_message/_form.html.twig') }}

    <a href="{{ path('user_message_index') }}">back to list</a>
{% endblock %}
